@model AzureMediaPortal.Models.MediaElement
@Html.HiddenFor(model => model.Id)

<h1>Encode Media</h1>
<div class="editor-field">
    @Html.HiddenFor(model => model.UserId)
</div>
<h3>
    @Model.Title
</h3>
<div class="editor-field">
    @Html.HiddenFor(model => model.AssetId)
</div>

<div>
    <h3>Encode As </h3>
    @Html.DropDownListFor(model => model.EncodingType, ViewBag.EncodingTypes as SelectList, "--Select Encoding Type--")
    @Html.ValidationMessageFor(model => model.EncodingType)
</div>

<h3>Job Status:</h3>
<span id="statusMessage"></span>
<div id="statusPanel">
    <div id="progress" style="width: 200px; height: 20px; background-color: grey"></div>
</div>
<p>
    <input type="button" id="encode" value="Encode" />
</p>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
@section Scripts{
    <script src="~/Scripts/jquery.signalR-1.1.3.min.js"></script>
    <script src="~/Scripts/playerframework.min.js"></script>
    <script src="~/signalr/hubs"></script>
    @Scripts.Render("~/bundles/jqueryui")
    <script src="~/Scripts/encode-manager.js"></script>
}